
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffff;
    background-image: url(images/cherryshaders.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    background: #00000094;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;

}

main {
    text-align: center;
}

#main-part {
    margin-top: 50px;
    padding: 20px;
    background-color: #00000094;
    display: inline-block;
    border-radius: 10px;
    
}

#githubBtn {
    
    background-image: url("images/githublogo.png");
    height: 50px;
    width: 50px;
}    



